@charset "UTF-8";
body{
    background-image: linear-gradient( to right, #69f5fa65, #5ad2d68a);
    }
main{
    Padding: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.473);
}
.info {
    background-color: #1c60ad18;
    font-family: Arial, Helvetica, sans-serif;
    color: #092727;
    text-align: justinfy;
    height: 250px;
    width: 200px;
    padding: 10px;
    margin: 5px;
    box-shadow: 3px 3px 3px black;
    float:left;
}
.info:hover {
    background-color: rgba(255, 255, 255, 0.226);
}
header .usuario{
    margin: 5px;
    box-shadow: 3px 3px 3px grey;
    float:right;
    border: 3px solid;
    border-radius: 10px;
}
.a:hover {
    color: rgb(77, 139, 77);
}
h2 {
    text-align: center;
}

#rodape {
    background-color: #2875fa41;
    box-shadow:10px black;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    padding: 0.5px;
    margin-top: 10px;
    margin: 10px;
    clear: left;
}
