@charset "UTF-8";

body{
    background-image: linear-gradient( to right, #69f5fa65, #5ad2d68a);
    margin: 10px;
}

#principal {
    background-color: #1caaad52;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: rgb(128, 109, 0);
    margin: 10px;
}
.info {
    background-color: #1caaad33;
    font-family: Arial, Helvetica, sans-serif;
    color: #092727;
    text-align: left;
    height: 270px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    box-shadow: grey 10px;
    float: left;
}
.info:hover {
    background-color: rgba(255, 255, 255, 0.226);
}
.data{
    background-color: #1caaad33;
    margin: 5px;
    box-shadow: grey 5px;
    float:right;
}
.a:hover {
    color: rgb(77, 139, 77);
}
h2 {
    text-align: center;
}

#rodape {
    background-color: #2875fa41;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    padding: 0.5px;
    margin-top: 1px;
    clear: left;
}