@charset "UTF-8";
main{
    max-width: 800;
    height: 500px;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.473);

}
body{
    background-image: linear-gradient( to right, #69f5fa65, #5ad2d68a);
    }

#principal {
    background-color: #1caaad52;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: rgb(128, 109, 0);
    margin: 10px;
}
.info {
    background-color: #1c60ad18;
    font-family: Arial, Helvetica, sans-serif;
    color: #092727;
    text-align: left;
    height: 250px;
    width: 200px;
    padding: 10px;
    margin-left: 20px;
    box-shadow: black 10px;
    float:left;
}
.info:hover {
    background-color: rgba(255, 255, 255, 0.226);
}
.usuario{
    margin: 5px;
    box-shadow: grey 5px;
    float:right;
    border-radius: 10px;
}
.a:hover {
    color: rgb(77, 139, 77);
}
h2 {
    text-align: center;
}

#rodape {
    background-color: #2875fa41;
    box-shadow: black 10px;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    padding: 0.5px;
    margin-top: 10px;
    margin: 10px;
    clear: left;
}